{% extends 'base.html' %}
{% load static %}

{% block title %}
Контакты | Courtesy
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/contacts.css' %}">
<link rel="stylesheet" href="{% static 'css/other.css' %}">

<div class="container">

    <div class="breadcrumb-container">
        <nav class="breadcrumb">
            <a href="/"><b>Главная</b></a> &gt; <span><b>Контакты</b></span>
        </nav>
    </div>
</div>

<div class="container mt-5">
    <h1>Контакты</h1>
    <ul class="list-group">
        {% for contact in contacts %}
        <li class="list-group-item">
            {{ contact.contact }} - {{ contact.what_doing }} ({{ contact.person }})
        </li>
        {% empty %}
        <li class="list-group-item">Контакты не найдены.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}